[Desktop Entry]
Type=Application
Name={{ generic_app_name }}
Exec={{ generic_app_exec }}
Icon={{ generic_app_icon }}
Comment={{ generic_app_comment | default("") }}
Terminal={{ generic_app_terminal | default('false') }}
StartupNotify={{ generic_app_startup_notify | default('false') }}
X-GNOME-Autostart-enabled={{ generic_app_autostart | default('false') }}
Categories={{ generic_app_categories | default('Utility;') }}
Version=1.0
