---
- name: Home workstation setup
  hosts: home
  gather_facts: true

  roles:
    - role: fedora_dependencies
      become: true
      tags: [fedora_dependencies]
    - role: hostname
      become: true
      tags: [hostname]
    - role: mise
      tags: [mise]
    - role: jaredhocutt.gnome_extensions
      tags: [gnome_extensions]
    - role: ssh_config
      tags: [ssh_config]
    - role: git_config
      tags: [git_config]
    - role: commons
      tags: [commons]
    - role: generic_app
      vars:
        app_name: "kDrive"
        app_url: "https://download.storage.infomaniak.com/drive/desktopclient/kDrive-3.7.9.1-amd64.AppImage"
        app_folder: "{{ ansible_env.HOME }}/.local/bin"
        app_icon: "~/dotfiles/assets/kdrive.jpg"
        desktop_name: "Infomaniak kDrive"
        desktop_exec: "env QTWEBENGINE_CHROMIUM_FLAGS=\"--no-sandbox\" QT_QPA_PLATFORM=xcb {{ ansible_env.HOME }}/.local/bin/kDrive"
        desktop_autostart: "true"
        desktop_categories: "Network;"
      tags: [kdrive]
    - role: generic_app
      vars:
        app_name: "ledger"
        app_url: "https://download.live.ledger.com/latest/linux"
        app_folder: "/opt/ledger"
        app_icon: "~/dotfiles/assets/ledger.svg"
        desktop_name: "Ledger Live"
        desktop_exec: "/opt/ledger/ledger"
        desktop_autostart: "false"
        desktop_categories: "Finance;"
      tags: [ledger]
      # FIXME psutil
    # - role: gnome
    #   tags: [gnome]
