---
git_email: git@sylvain.dev
git_user: Sylvain
# uncomment if you want to sign your commits
# git_key: YOUR FINGER PRINT ID
github_token: redacted

gibbs:
  mysql_root_password: redacted

abby:
  hard_drive_uuid: redacted
  backup_hard_drive_uuid: redacted

fail2ban:
  receiver: redacted

crm_app:
  base_path: /apps/crm
  user: redacted
  db: redacted
  password: redacted
  domain: redacted
  app_key: redacted
  borg_repository: crm

mail_config:
  user: redacted
  password: redacted
  host: mail.gandi.net
  port: 587
  use_tls: true

certbot_email: redacted
borg_backup:
  main:
    user: redacted
    port: 23
    host: redacted
  passphrase: redacted

media_apps:
  borg_repository: media
  base_path: /data/apps/media
  movies_location: /data/media/movies
  tv_location: /data/media/tv
  tmp_location: /data/media/tmp
  transmission:
    user: redacted
    password: redacted
  apps:
    - domain: redacted
      nginx_template: 002-jellyfin.conf.j2
      nginx_file: 002-jellyfin.conf
    - domain: redacted
      nginx_template: 003-radarr.conf.j2
      nginx_file: 003-radarr.conf
    - domain: redacted
      nginx_template: 004-sonarr.conf.j2
      nginx_file: 004-sonarr.conf
    - domain: redacted
      nginx_template: 005-jackett.conf.j2
      nginx_file: 005-jackett.conf
    - domain: redacted
      nginx_template: 006-transmission.conf.j2
      nginx_file: 006-transmission.conf

dyndns_app:
  api_key: redacted
  health_check_uuid: redacted
  base_path: /apps/dyndns
  domains:
    - domain: redacted
      config: dev.py
      subdomains:
        [
          "a",
          "b",
          "c",
          "d",
          "e",
          "f"
        ]
    - domain: redacted
      config: main.py
      subdomains: ["b"]

rss_app:
  base_path: /apps/rss
  user: redacted
  db: redacted
  password: redacted
  domain: redacted
  borg_repository: rss

nextcloud_app:
  base_path: /apps/nextcloud
  user: redacted
  db: redacted
  password: redacted
  domain: redacted
  borg_repository: nextcloud

betisier_app:
  base_path: /apps/betisier
  user: betisier
  db: betisier
  password: redacted
  domain: redacted
  salt: redacted
  borg_repository: betisier

grocy_app:
  base_path: /apps/grocy
  user: grocy
  db: grocy
  password: redatec
  domain: redacted
  borg_repository: grocy
