---
- hosts: localhost

  pre_tasks:
    - name: "Include locals variables"
      include_vars:
        file: "locals.yml"
      tags: always

  roles:
    - role: geerlingguy.docker
      become: true
      tags: docker
    - role: fedora_dependencies
      become: true
      tags: fedora_dependencies
    - role: donhector.workstation.asdf
      tags: asdf
    - role: sourcejedi.rpmfusion_free
      become: true
      tags: rpm
    - role: jaredhocutt.gnome_extensions
      tags: gnome_extensions
    - role: ssh_config
      tags: ssh_config
    - role: git_config
      tags: git_config
    - role: generic_app
      vars:
        app_name: "kDrive"
        app_url: "https://download.storage.infomaniak.com/drive/desktopclient/kDrive-3.7.9.1-amd64.AppImage"
        app_folder: "/opt/kDrive"
        app_icon: "~/dotfiles/assets/kdrive.jpg"
        desktop_name: "Infomaniak kDrive"
        desktop_exec: "env QTWEBENGINE_CHROMIUM_FLAGS=\"--no-sandbox\" QT_QPA_PLATFORM=xcb /opt/kDrive/kDrive"
        desktop_autostart: "true"
        desktop_categories: "Network;"
      tags: kdrive
    - role: joplin
      tags: joplin
    - role: jetbrains_toolbox
      tags: jetbrains_toolbox
    - role: gnome
      tags: gnome
    - role: commons
      tags: commons
    - role: gop
      tags: gop
    - role: git_credential_keepassxc
      tags: git_credential_keepassxc
