[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==12.1.0"
psutil = "*"
setuptools = "*"
selinux = "*"
ansible-lint = "*"

[dev-packages]

[requires]
python_version = "3.12"
