---
host_hostname: my-awesome-hostname

git_email: contact@sylvainmetayer.fr
git_user: Sylvain
# uncomment if you want to sign your commits
# git_key: YOUR FINGER PRINT ID 
github_token: XXX

docker_users:
  - "USER" # replace by users you want to have access to docker without root.
