---
- name: Ensure flatpak deps are installed
  become: true
  ansible.builtin.package:
    name:
      - fuse-libs
      - fuse-devel
      - fuse
    state: present

- name: Add the flathub flatpak repository remote to the user installation
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

- name: Install flatpak app
  loop: "{{ fedora_dependencies_flatpak }}"
  community.general.flatpak:
    name: "{{ item }}"
    state: present

# FIXME Skipped but should be played
- name: Create override folder for flatpak apps
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.local/share/flatpak/overrides"
    state: directory
    mode: "0755"

- name: Create keepassxc override to bind SSH socket
  ansible.builtin.template:
    src: "org.keepassxc.KeePassXC.j2"
    dest: "{{ ansible_facts['env']['HOME'] }}/.local/share/flatpak/overrides/org.keepassxc.KeePassXC"
    mode: "0644"
  when: "'https://flathub.org/repo/appstream/org.keepassxc.KeePassXC.flatpakref' in fedora_dependencies_flatpak"
