---
- name: Ensure local bin directory exists
  ansible.builtin.file:
    path: "~/.local/bin"
    state: directory
    mode: "0755"

- name: Set timezone to Europe/Paris
  become: true
  community.general.timezone:
    name: Europe/Paris

- ansible.builtin.import_tasks: add_to_path.yaml
- ansible.builtin.import_tasks: custom_scripts.yaml
- ansible.builtin.import_tasks: direnv_config.yaml
  when: setup_direnv | bool

- name: Setup symlinks
  ansible.builtin.include_tasks: symlink.yml
  loop: "{{ commons_symlinks }}"
  when: symlink_as_link | bool

- name: Setup symlinks as copy
  ansible.builtin.include_tasks: symlink_copy.yml
  loop: "{{ commons_symlinks }}"
  when: not symlink_as_link | bool
