---
- name: Ensure local bin directory exists
  ansible.builtin.file:
    path: "~/.local/bin"
    state: directory
    mode: "0755"

- name: Set timezone to Europe/Paris
  become: true
  community.general.timezone:
    name: Europe/Paris

- name: Add scripts to PATH
  ansible.builtin.import_tasks: add_to_path.yaml

- name: Configure custom scripts in bashrc
  ansible.builtin.import_tasks: custom_scripts.yaml

- name: Setup direnv
  ansible.builtin.import_tasks: direnv_config.yaml
  when: commons_setup_direnv | bool

- name: Setup symlinks
  ansible.builtin.include_tasks: symlink.yml
  loop: "{{ commons_symlinks }}"
  when: commons_symlink_as_link | bool

- name: Setup symlinks as copy
  ansible.builtin.include_tasks: symlink_copy.yml
  loop: "{{ commons_symlinks }}"
  when: not commons_symlink_as_link | bool
