---
- name: "Collect file info {{ item }}"
  ansible.builtin.stat:
    path: "~/{{ item }}"
  register: commons_dotfile

- name: "Ensure folder does exists {{ item }}"
  ansible.builtin.file:
    mode: "0700"
    path: "~/{{ item | dirname }}"
    state: directory

- name: "Delete regular file {{ item }}"
  ansible.builtin.file:
    path: "~/{{ item }}"
    state: absent
  when: commons_dotfile.stat.islnk is defined and commons_dotfile.stat is defined and commons_dotfile.stat.isreg

- name: "Update commons_dotfile symlink {{ item }}"
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: ~/{{ item }}
    state: link
    force: false
