---
- name: "{{ item }} : Collect file info"
  ansible.builtin.stat:
    path: "~/{{ item }}"
  register: dotfile

- name: "{{ item }} : Ensure folder does exists"
  ansible.builtin.file:
    mode: "0700"
    path: "~/{{ item | dirname }}"
    state: directory

- name: "{{ item }} : Delete regular file"
  ansible.builtin.file:
    path: "~/{{ item }}"
    state: absent
  when: dotfile.stat.islnk is defined and dotfile.stat is defined and dotfile.stat.isreg

- name: "{{ item }} : Update dotfile symlink"
  ansible.builtin.file:
    src: "{{ role_path }}/files/{{ item }}"
    dest: ~/{{ item }}
    state: link
    force: false
