---
version: "2.1"
services:
  grocy:
    image: ghcr.io/linuxserver/grocy
    container_name: grocy
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Europe/Paris
    volumes:
      - ./data:/config
    ports:
      - 9005:80
    restart: unless-stopped
    # https://github.com/docker/for-linux/issues/264#issuecomment-772844305
    extra_hosts:
      - 'host.docker.internal:host-gateway'
