[Desktop Entry]
Exec={{ ansible_env["HOME"] }}/.softs/kDrive
Icon={{ ansible_env["HOME"] }}/dotfiles/roles/commons/assets/kdrive.jpg
Name=Infomaniak kDrive
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
