Host github.com
    IdentityFile ~/.ssh/id_ed25519

Host bitbucket.org
    IdentityFile ~/.ssh/id_ed25519

Host gitlab.com
    IdentityFile ~/.ssh/id_ed25519

Host nextcloud
    HostName nextcloud.sylvainmetayer.fr
    Port 22
    User ocyhc
    IdentityFile ~/.ssh/id_ed25519
    ServerAliveInterval 120

Host pi
    User ocyhc
    HostName pi.sylvain.dev
    Port 22
    IdentityFile ~/.ssh/id_ed25519
    ServerAliveInterval 120

# https://serverfault.com/a/515214
Host *
  IdentitiesOnly yes
