---
- name: Ensure Git config file exists
  ansible.builtin.copy:
    content: ""
    dest: "~/.gitconfig"
    force: false
    group: "{{ ansible_user_gid }}"
    owner: "{{ ansible_user_uid }}"
    mode: "0600"

- name: Ensure allowed_signers file exists
  ansible.builtin.copy:
    content: ""
    dest: "~/.ssh/allowed_signers"
    force: false
    group: "{{ ansible_user_gid }}"
    owner: "{{ ansible_user_uid }}"
    mode: "0600"

- name: Render Git config Template
  ansible.builtin.set_fact:
    git_config_template: "{{ lookup('template', 'gitconfig.j2') }}"

- name: Render Git config Template
  ansible.builtin.set_fact:
    ssh_allowed_signers: "{{ lookup('template', 'ssh_allowed_signers.j2') }}"

- name: Add template in git config
  ansible.builtin.blockinfile:
    dest: "~/.gitconfig"
    block: |
      {{ git_config_template }}
    marker: "#{mark} ANSIBLE MANAGED BLOCK GIT"

- name: Add template in allowed_signers
  ansible.builtin.blockinfile:
    dest: "~/.ssh/allowed_signers"
    block: |
      {{ ssh_allowed_signers }}
    marker: "#{mark} ANSIBLE MANAGED BLOCK SSH SIGNING"
