<?php
define('DBHOST', "host.docker.internal");
define('DBNAME', "{{ betisier_app.db }}");
define('DBUSER', "{{ betisier_app.user }}");
define('DBPASSWD', "{{ betisier_app.password }}");
define('GRAIN_SEL', "{{ betisier_app.salt }}");
define('ENV','prod');
