{# Exec= is intentionally missing: kdrive-auto-update appends it after each update #}
[Desktop Entry]
Type=Application
Name=kDrive
Icon={{ kdrive_icon }}
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=20
Categories=Network;
