[Desktop Entry]
Type=Application
Name=kdrive-auto-update
GenericName=kDrive Auto Update
Exec={{ kdrive_bin_folder }}/kdrive-auto-update
Icon={{ kdrive_icon }}
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
Categories=Network;
