[Desktop Entry]
Exec=env QTWEBENGINE_CHROMIUM_FLAGS="--no-sandbox" QT_QPA_PLATFORM=xcb {{ kdrive_folder }}/kDrive
Icon={{ role_path }}/assets/kdrive.jpg
Name=Infomaniak kDrive
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
