---
commons_add_to_path:
  - "$HOME/.local/bin"
  - "$HOME/bin"
  - "$HOME/.cargo/bin"

# Will test the existence of the command and run script if available.
commons_custom_scripts:
  - command: starship
    script: 'eval "$(starship init bash)"'
  - command: direnv
    script: 'eval "$(direnv hook bash)"'

commons_symlinks:
  - .vimrc
  - .bash_aliases
  - .tmux.conf
  - .config/starship.toml
  - .gnupg/gpg.conf
  - .default-npm-packages
  - .bashrc.d/convertFile.sh
  - .bashrc.d/define.sh
  - .bashrc.d/_env.sh
  - .bashrc.d/fixRights.sh
  - .bashrc.d/git_clean.sh
  - .bashrc.d/gitignore.sh
  - .bashrc.d/ipLocation.sh
  - .bashrc.d/ipv6.sh
  - .bashrc.d/kill_me.sh
  - .bashrc.d/kubernetes.sh
  - .bashrc.d/ledger_udev.sh
  - .bashrc.d/load_env.sh
  - .bashrc.d/logs.sh
  - .bashrc.d/server-functions.sh
  - .bashrc.d/showHosts.sh
  - .bashrc.d/t.sh

setup_direnv: true
setup_starship_init_script: true
symlink_as_link: true
