Host github.com
    IdentityFile ~/.ssh/keepassxc.pub

Host bitbucket.org
    IdentityFile ~/.ssh/keepassxc.pub

Host gitlab.com
    IdentityFile ~/.ssh/keepassxc.pub

Host gibbs
    User ocyhc
    HostName gibbs.sylvain.dev
    Port 22
    IdentityFile ~/.ssh/keepassxc.pub
    ServerAliveInterval 120

# https://serverfault.com/a/515214
Host *
  IdentitiesOnly yes
