Host github.com
    IdentityFile ~/.ssh/keepassxc.pub

Host bitbucket.org
    IdentityFile ~/.ssh/keepassxc.pub

Host gitlab.com
    IdentityFile ~/.ssh/keepassxc.pub

Host pangolin
    IdentityFile ~/.ssh/keepassxc.pub
    HostName pangolin.sylvain.cloud
    User sylvain

# https://serverfault.com/a/515214
Host *
  IdentitiesOnly yes
  IdentityFile ~/.ssh/keepassxc.pub
