location:
    source_directories:
        - {{ crm_app.base_path }}/config

    repositories:
        - {{ borg_backup.main.user }}@{{ borg_backup.main.host }}:{{ crm_app.borg_repository }}

    # Stay in same file system (do not cross mount points).
    # Defaults to false. But when a database hook is used, the
    # setting here is ignored and one_file_system is considered
    # true.
    # one_file_system: true

    exclude_caches: true
    exclude_if_present: .nobackup

storage:
    encryption_passphrase: {{ borg_backup.passphrase }}

    # Type of compression to use when creating archives. See
    # http://borgbackup.readthedocs.io/en/stable/usage/create.html
    # for details. Defaults to "lz4".
    # compression: lz4

    ssh_command: ssh -p {{ borg_backup.main.port }}

    # archive_name_format: '{hostname}-documents-{now}'
    relocated_repo_access_is_ok: true

    # Bypass Borg error about a previously unknown unencrypted
    # repository. Defaults to false.
    # unknown_unencrypted_repo_access_is_ok: true

retention:
    keep_daily: 7
    keep_weekly: 2
    # keep_monthly: 1

consistency:
    checks:
        - repository
        - data
        - extract
    check_last: 2

hooks:
    mysql_databases:
        - name: {{ crm_app.db }}
          hostname: localhost
          username: {{ crm_app.user }}
          password: {{ crm_app.password }}
          # FIXME https://projects.torsion.org/witten/borgmatic/issues/399
          options: "--skip-comments --order-by-primary -p{{ crm_app.password }}"
    healthchecks: https://hc-ping.com/{{ borg_backup.health_check_uuid }}
