---
version: "3.3"
services:
  grocy:
    image: nocodb/nocodb:latest
    container_name: nocodb
    ports:
      - 9006:8080
    environment:
      NC_DB: "mysql2://host.docker.internal:3306?u={{ nocodb_app.user }}&p={{ nocodb_app.password }}&d={{ nocodb_app.db }}"
    restart: unless-stopped
    # https://github.com/docker/for-linux/issues/264#issuecomment-772844305
    extra_hosts:
      - 'host.docker.internal:host-gateway'
