---
version: "2.1"
services:
  nextcloud:
    image: ghcr.io/linuxserver/nextcloud
    container_name: nextcloud
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Europe/Paris
    volumes:
      - ./config:/config
      - ./data:/data
    # https://github.com/docker/for-linux/issues/264#issuecomment-772844305
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '127.0.0.1:9003:80'
    restart: 'on-failure'
