upstream nas {
    server {{ nas_app.local_ip }}:{{ nas_app.port }};
}

map $http_user_agent $log_ua {
    ~UptimeRobot/2.0 0;

    default 1;
}

server {
    listen 443 ssl http2;
    server_name {{ nas_app.domain }};
    root /var/www/default/;
    index index.php;
    client_max_body_size 200M;

    location = /robots.txt  { access_log off; log_not_found off; }
    location = /favicon.ico { access_log off; log_not_found off; }
    # Deny access to .htaccess files, if Apache's document root concurs with nginx's one
    location /.ht {
        deny  all;
    }

    # Deny access to hidden dotfiles (beginning with '.')
    location /. {
        deny all;
    }

    access_log  /var/log/nginx/{{ nas_app.domain }}.access.log combined if=$log_ua;
    error_log   /var/log/nginx/{{ nas_app.domain }}.error.log;

    location ~* \.(jpg|jpeg|png|gif|ico|css|js)$ {
        access_log off;
        expires 30d;
        add_header Pragma public;
        add_header Cache-Control "public, mustrevalidate, proxy-revalidate";
        proxy_set_header HOST $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-NginX-Proxy true;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_pass http://nas;
        proxy_redirect off;
        proxy_buffering off;
    }

    location / {
        proxy_set_header HOST $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-NginX-Proxy true;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_pass http://nas;
        proxy_redirect off;
        proxy_buffering off;
    }

    # https://blog.mozilla.org/security/2013/07/29/ocsp-stapling-in-firefox/
    # Send cert validity information ourselves, so the user does not have to ask the CA (who
    # then knows the user visited the website).
    # Test with openssl s_client -connect www.example.com:443 -servername www.example.com -status < /dev/null | grep OCSP
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 1.1.1.1;

    # https://ssl-config.mozilla.org/#server=nginx&version=1.14.2&config=modern&openssl=1.1.1d&hsts=false&guideline=5.6
    ssl_certificate         /etc/letsencrypt/live/{{ nas_app.domain }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ nas_app.domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ nas_app.domain }}/chain.pem;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    # modern configuration
    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers off;
}

server {
	listen 80;
	server_name {{ nas_app.domain }};
	return 301 https://$host$request_uri;
}
