[Definition]

actionstart = /usr/bin/sendEmail -f <sender> -t <dest> -s <smtp> -xu <sender> -xp <password> -u "[Fail2Ban] <servername> <name>: started" -m "The jail <name> has been started successfully.\n\nFail2Ban"

actionstop = /usr/bin/sendEmail -f <sender> -t <dest> -s <smtp> -xu <sender> -xp <password> -u "[Fail2Ban] <servername> <name>: stopped" -m "The jail <name> has been stopped.\n\nFail2Ban"

actioncheck =

actionban = /usr/bin/sendEmail -f <sender> -t <dest> -s <smtp> -xu <sender> -xp <password> -u "[Fail2Ban] <servername> <name>: banned <ip>" -m "The IP <ip> has just been banned by Fail2Ban after <failures> attempts against <name>.\n\nHere is more information about <ip>:\n `/usr/bin/whois <ip>`\n\n Lines containing IP:<ip> in <logpath>\n`/bin/grep '\<<ip>\>' <logpath>`\n\n\n\nFail2Ban"

actionunban =

[Init]
# Amended to be the same as the SMTP user
sender = {{ mail_config.user }}

# Added

# SMTP password for user
password = {{ mail_config.password }}

# SMTP server - use port 587 for Google rather than 25 (times out too often) or 465 (crashes sendEmail)
smtp = {{ mail_config.host }}:{{ mail_config.port }}

servername = "Raspberry"
