---
name: Deploy Collection

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run read-yaml action
        id: yaml-data
        uses: jbutcher5/read-yaml@39cf058cf4ea746b66d7f49f4da10a81204450cc # 1.6
        with:
          file: "./galaxy.yml"
          key-path: '["version"]'

      - name: Bump release version
        id: bump_version
        uses: christian-draeger/increment-semantic-version@18746485477492fd90f2664f8470b34d9208fa17 # 1.2.3
        with:
          current-version: "${{ steps.yaml-data.outputs.data }}"
          version-fragment: "bug"

      - name: Update values.yaml
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: "galaxy.yml"
          propertyPath: "version"
          value: "${{ steps.bump_version.outputs.next-version }}"
          commitChange: true
          message: "update galaxy.yml version"
          branch: main
          createPR: false
          masterBranchName: main

      - name: Build and Deploy Collection
        uses: artis3n/ansible_galaxy_collection@f6110aef877db4caaa7e9a192975fb006dea61fe # v2
        with:
          api_key: "${{ secrets.GALAXY_API_KEY }}"
          galaxy_version: "${{ steps.bump_version.outputs.next-version }}"
          publish: true
          build: true

      - name: Read file contents
        id: read_file
        uses: andstor/file-reader-action@babb053761401147562e75be79d832978cc97325 # v1
        with:
          path: "galaxy.yml"
